@import "tailwindcss"; /* calls every utility calss and style to the project*/

@theme { /* custom theme declaration block*/
  /* font */
  --font-sans: "Pretendard", "Inter", "Noto Sans KR", sans-serif;

  /* gray scale */
  --color-gray-950: #0a0a0a;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50:  #f9fafb;

  /* primary (blue) */
  --color-primary-500: #3b82f6;
  --color-primary-400: #60a5fa;
  --color-primary-600: #2563eb;

  /* success (mint/green) */
  --color-success-500: #10b981;

  /* Border radius */
  --radius-lg: 16px;
  --radius-xl: 24px;
}

/* TailwindCSS basic reset + custom */
body {
  font-family: var(--font-sans);
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}